.checkbox-ol {
    /*width:16px;
  height:16px;*/
    margin: 0px 5px;
}
.bad-li-ol  h3{
    color: #d2d2d2!important;
}
.bad-li-ol {
    /*font-style: italic;*/
}
.li-ol {
    margin: 5px 0px;
}
#btnOpenIssueLinks {
    margin: 5px 0 15px 15px;
    padding: 11px 25px;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    color: #5d5d5d;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.25);
    background: #ffdb4d;
    border: 1px solid #f9f9f9;
    /* border-radius: 5px; */
    cursor: pointer;
    box-shadow: 0 0 0px 2px rgb(245, 244, 239);
}

#btnOpenIssueLinks:hover {
background:#ffe372;
}

.bold-words {
    font: 13px Arial;
    background: blanchedalmond;
    display: inline-block;
}
.issue a {
    color: #070;
    text-decoration: none;
}
.issue h3 {
    margin: 0 0 4px 0;
    /*display: inline;*/
    color: #00c;
}
.issue li {
    /*border: 1px solid black;*/
	padding: 5px;
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);*/
	border:1px solid rgb(239,239,239);
}
.bold-words-div h3, .bold-words-div p {
    margin: 3px 0;
}
